/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  margin: 120px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3,h4,h5,h6, .person__title {
  font-family: "Source Serif 4", serif;
font-optical-sizing: auto;
font-weight: bold;
font-style: normal;
}

p {
  font-family: "PT Sans", sans-serif;
font-weight: 400;
font-style: normal;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.section__title {
  font-weight: bold;
  font-size: 40px;
  margin-top: 16px;
  line-height: 1;
}

.hero__description {
  font-size: 18px;
  color: #353B48;
  margin-top: 24px;
}

.hero__left {
  flex: 2;
}

.hero__right {
  flex: 1;
}

.hero__greeting {
  font-size: 24px;
  color: #353B48;
}

.btn {
  font-size: 18px;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}

a {
  text-decoration: none;

}

.btn__primary {
  background-color: #0D0C21;
  color: #fff;
  font-family: "Mukta", sans-serif;
}

.btn__primary:hover {
  background-color: #565563;
}

.btn__secondary {
  background-color: #fff;
  color: #000;
  border: 1px solid #B7B7BD;
  font-family: "Mukta", sans-serif;
}

.hero__btn__group {
  margin-top: 36px;
  display: flex;
  gap: 24px;
}

body > * + * {
  margin-top: 120px;
}

.product__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  margin-top: 40px;
}

.product__card {
  border-radius: 12px;
}

.product__card:nth-child(1) {
  background-color: #F4F3FF;
}

.product__card:nth-child(2) {
  background-color: #FFF6ED;
}

.product__card:nth-child(3) {
  background-color: #E9F4FF;
}

.product__card:nth-child(4) {
  background-color: #F5F6FA;
}

.product__card__head__container {
  margin: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.product__card__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.product__card__btn {
  background: #0D0C21;
  color: #fff;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.product__card__btn:hover {
  background: #565563;
}

.product__card__head {
  font-size: 28px;
  font-family: "Source Serif 4", serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
}

.product__card__body {
  color: #353B48
}

.product__card__image {
  padding-left: 24px;
}

.title__hint {
  color: #A5B1C2;
  font-style: italic;
  margin-top: 12px;
}

.trophy__icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  background-color: #F5F6FA;
  font-size: 32px;
}

.trophy__card {
  padding: 32px;
  text-align: left;
  box-shadow: 0px 0px 1px 0px #c2c2c2;
}

.trophy__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 32px;
}


.trophy__title {
  font-size: 24px;
  margin-top: 32px;
  font-weight: 600;
}

.trophy__details {
  color: #57606F;
  margin-top: 24px;
}

.testimony__card {
  background-color: #F9FAFF;
  padding: 32px;
  border-radius: 4px;
}

.testimony__body {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;


  @supports (-webkit-line-clamp: 4) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.person__image {
  height: 45px;
  width: auto;
}

.person__container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.person__name {
  font-size: 16px;
}
.person__title {
  font-size: 14px;
  color: #A5B1C2;
}

.testimony__container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.footer__title {
  font-size: 32px;
}

.footer__details {
  color: #353B48;
  font-size: 18px;
  margin-top: 12px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mail {
  text-decoration: underline;
  color: #0D0C21;
  margin-top: 8px;
  font-weight: bold;
}

.footer__icons {
  display: flex;
  gap: 84px;
  align-items: center;

  margin-top: 64px;
}

.footer__icons img {
height: 28px; width: auto;
}

hr { 
  width:100%;
  height:1px;
  background: #000;
  margin-top: 120px;
  opacity: 0.2;
}

@media only screen and (max-width: 600px) {
  .hero__container {
      flex-direction: column;
  }

  body {
      margin: 24px;
      
  }

  .product__container {
      grid-template-columns: repeat(1, 1fr);
  }

  .trophy__container {
      grid-template-columns: repeat(1, 1fr);
  }

  .hero__btn__group {
      flex-direction: column;
      text-align: center;
      gap: 12px;
  }

  .footer__icons {
    gap: 16px
  }
}

.trophy__date {
  color: #A5B1C2;
  font-size: 16px;
  margin-top: 16px;
  font-weight: bold;
}